@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, #2e3b8e, #1c2a6d); /* Dark blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}



.circular-gradient {
  position: relative;
  height: 100vh;
  background: radial-gradient(circle, rgba(128, 0, 128, 1) 0%, rgba(0, 0, 0, 1) 70%);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.orbit {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.16); /* Faint white for the orbits */
}

/* Responsive orbit sizes */
.orbit.orbit-1 { width: 20vw; height: 20vw; }
.orbit.orbit-2 { width: 40vw; height: 40vw; }
.orbit.orbit-3 { width: 60vw; height: 60vw; }
.orbit.orbit-3 { width: 80vw; height: 80vw; }

