@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, #2e3b8e, #1c2a6d); /* Dark blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}



.circular-gradient {
  position: relative;
  height: 100vh;
  background: radial-gradient(circle, rgb(31, 1, 77) 0%, rgba(0, 0, 0, 1) 70%);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-gradient {
  background: radial-gradient(circle, rgba(31, 1, 77, 0.8) 0%, rgba(0, 0, 0, 0.9) 100%);
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: white;
  max-width: 400px;
  margin: auto;
  text-align: center;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}



.orbit {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.16);
  z-index: -1; /* Add this to push orbits to the background */
}


/* Responsive orbit sizes */
.orbit.orbit-1 { width: 20vw; height: 20vw; }
.orbit.orbit-2 { width: 40vw; height: 40vw; }
.orbit.orbit-3 { width: 60vw; height: 60vw; }
.orbit.orbit-3 { width: 80vw; height: 80vw; }

